* {
    box-sizing: border-box;
    font-size: 18px;
}

body {
  font-family: 'Neucha', cursive;
  color: white;
  background-color: black;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px black;
}

a:hover {
  color: yellow;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, .project, .navItem, .blog, .profileImg {
  text-align: center;
}

.hero {
  background-image: url(bg.jpg);
  background-size: cover;
  margin: 1em 20%;
  padding: 3em;
  height: 30em;
  border-radius: 10px;
}

.title, .subtitle {
  text-shadow: 2px 2px black;
}

.title {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 7em;
}

.about, .blog {
  background-color:rgba(236, 81, 145, .7);
  display: flex;
  margin: 0 20%;
  padding: 1em;
  border-radius: 10px;
  text-shadow: 2px 2px black;
}

.about h2 {
  text-align: left;
}

.about p {
  text-align: justify;
}

.projects {

  margin: 0 15%;
}

.projectsGrid {
  display: flex;
  justify-content: center;
}

.project {
  flex: 1 1 33%;
}

.blog {
  padding-bottom: 10em;
  display: flex;
  flex-direction: column;
}

.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: gray;
  margin-left: -8px;
}

.footChunk {
  display: flex;
  flex: 0 0 33%;
  margin-top: auto;
  padding: .3em 2em;
}

.footChunk img {
  height: 3em;
  margin: 0 .5em;
}

.navItem {
  flex: 1 1 33%;
  margin-bottom: 1em;
}

.contact {
  justify-content: flex-end;
  margin-bottom: 1em;
}
